<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HardSense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HardSense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <HardSense.Properties.Settings>
            <setting name="MemoryMapFileName" serializeAs="String">
                <value>HardSense-MMFILE-V1</value>
            </setting>
            <setting name="DefaultMemoryMappedFieldSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultNicReceiveID" serializeAs="String">
                <value>/recv</value>
            </setting>
            <setting name="DefaultNicSendID" serializeAs="String">
                <value>/send</value>
            </setting>
            <setting name="DefaultNicReceiveSensorName" serializeAs="String">
                <value>Receive Speed</value>
            </setting>
            <setting name="DefaultNicSendSensorName" serializeAs="String">
                <value>Send Speed</value>
            </setting>
            <setting name="DefaultNetworkInterfaceType" serializeAs="String">
                <value>NIC</value>
            </setting>
            <setting name="DefaultMaxLengthDataToSend" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="DefaultBTConnectMaxFailures" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FPSSensorName" serializeAs="String">
                <value>/fps/0/counter</value>
            </setting>
        </HardSense.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <HardSense.Properties.Settings>
            <setting name="DefaultHardwareMonitorPollTime" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="DefaultDataStreamingServerPort" serializeAs="String">
                <value>4121</value>
            </setting>
            <setting name="DefaultHeartbeatTime" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DefaultMissedHeartbeatsToDisconnect" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultBTSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="BluetoothConfiguratorFormLastPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DebugOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSensorDataStreamer_UpdateTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MainFormLastPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </HardSense.Properties.Settings>
    </userSettings>
</configuration>